body {
    background: url("../images/Homer.jpg");
    background-color: black;
    background-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#title {
    text-align: center;
    font-size: 80px;
    color: greenyellow;
    background: rebeccapurple;
    font-style: bold;
    padding-top: 20px;
    padding-bottom: 5px;
}

#start {
    color: springgreen;
    font-size: 20px;
    background-color: dodgerblue;
    border: 6px solid rgb(238, 238, 25);
    width: 25%;
    height: 60%;
    display: block;
    margin: auto;
}


h2 {
    text-align: center;
    padding: 8px;
    font-size: 30px;
    color: red;
    background: khaki;
    border: 7px solid black;

}

h3 {
    text-align: center;
    padding: 10px;
}

#subwrapper {
    border: none;
    font-size: 28px;
    background: palevioletred;
    text-align: center;
    margin: 5%;
    border: 7px solid black;
    display: inline;
    font-size: 25px;
    color: rgb(192, 255, 211)
}